.App {
  text-align: center;
}

.products {

  display: flex;

  flex-wrap: wrap;

}
.navBar {
  
  display: flex;
justify-content: center;
 background-color: #cfd8dc;
 color: black;
 text-decoration: uppercase;
}

.link {
 margin: 20px;
 text-decoration: none;
 padding: 10px 40px;

}

.productCard {

  padding: 2%;

  flex-grow: 1;

  flex-basis: 16%;

  margin: 20px;

}
.hide{
  display: none;
}

body {

  background-color: #f6f6f6;

}
.productInfo {

 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.cont {

  display: flex;

  justify-content: center;

}

.back {

  background-color: #f4eddd; 

  padding: 20px;

  margin-left: 20px;

  margin-right: 20px;

    font-family: 'Encode Sans Semi Expanded', sans-serif;



}

.change {

  background-color: black;

  color: white;

  padding: 10px;

  border: none;

  font-family: 'Encode Sans Semi Expanded', sans-serif;

}

h3, h4 {

  font-family: 'Encode Sans Semi Expanded', sans-serif;

}

button {

  margin: 10px;

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
